<!DOCTYPE html>
<html>
    <head> 
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
        <link rel="stylesheet" type="text/css" href="/css/tree.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    </head>
    <style>

#top,
#bottom {
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
}

#top {
    top: 0;
    background-color: grey;
}

#bottom {
    bottom: 0;
    background-color: grey;
}

.split {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: lightgrey;
}
.topright {
   right: 0;
  background-color: lightgreen;
}

.topleft{
  left: 0;
  background-color: lightblue;
}

.right {
  right: 0;
  background-color: pink;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

</style>

<div id="top">
    <div class="split topleft">   
        <div class="centered"> 
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
            <body>
            <Heading>CRIMES COMMITTED BY AREA</Heading>
            <canvas id="myChart3" style="width:100%;max-width:600px"></canvas>
            
            <script>

                const Http4 = new XMLHttpRequest();
                const url4='/getAreaCrimes';
                Http4.open("GET", url4);
                Http4.send();

                    
                Http4.onreadystatechange = (e) => {
                    var testing = JSON.parse(Http4.responseText);

                    var xValues = [];
                    var yValues = [];

                    for (i in testing.policeDb){
                        var area = testing.policeDb[i].area;
                        if(!xValues.includes(area)){
                            xValues.push(area)
                            yValues.push(0)   
                            yValues[xValues.indexOf(area)] += 1    
                        }
                        else{
                            yValues[xValues.indexOf(area)] += 1 
                        }

                    }

                    var barColors = [
                    "#b91d47",
                    "#00aba9",
                    "#2b5797",
                    "#e8c3b9",
                    "#1e7145"
                    ];
                    
                    new Chart("myChart3", {
                    type: "pie",
                    data: {
                        labels: xValues,
                        datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                        }]
                    },
                    options: {
                    }
                    });
                    }
                
            </script>
                    
                    </div>
                </div>
    
    
    <div class= "split topright">  
        <div class="centered"> 
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
            <body>
            <Heading>NUMBER OF CRIMES</Heading>
            <canvas id="myChart4" style="width:100%;max-width:600px"></canvas>
            
            <script> 
                const Http = new XMLHttpRequest();
                const url='/ApiGet';
                Http.open("GET", url);
                Http.send();

                
                Http.onreadystatechange = (e) => {
                    var testing = JSON.parse(Http.responseText)
                    console.log(testing)
                    var xValues = [];
                    var yValues = [];

                    //streetCounter = 0;
                    console.log()
                    for(i in testing.policeDb) {
                        var crime = testing.policeDb[i].crimes;
                        if(!xValues.includes(crime)){
                            xValues.push(crime)
                            yValues.push(0)   
                            yValues[xValues.indexOf(crime)] += 1    
                        }
                        else{
                            yValues[xValues.indexOf(crime)] += 1 
                        }
                    }

                    //console.log(xValues);
                    //console.log(yValues);

                    var barColors = [
                    "#b91d47",
                    "#00aba9",
                    "#2b5797",
                    "#e8c3b9",
                    "#1e7145"
                    ];

                    new Chart("myChart4", {
                    type: "pie",
                    data: {
                        labels: xValues,
                        datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                        }]
                    },
                    options: {
                    }
                    });
                }
            </script>
                    </div>
                </div>
    
</div>
<div id="bottom">
    <div> 
    <div class="split left">
      <div class="centered">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <body>
        <Heading>Number of Crimes Committed</Heading>
        <canvas id="myChart" style="width:100%"></canvas>
        
        <script>
            const Http2 = new XMLHttpRequest();
            const url2='/getNumCrimes';
            Http2.open("GET", url2);
            Http2.send();

                
            Http2.onreadystatechange = (e) => {
                var testing = JSON.parse(Http2.responseText);
                var xValues = [];
                var yValues = [];
                for (i in testing.policeDb){
                    if (testing.policeDb[i].date){
                        var day = new Date(testing.policeDb[i].date);
                        
                        var myDay = day.getFullYear() + '-' + day.getMonth() + '-' + day.getDate();
                        //console.log(myDay)
                        if(!xValues.includes(myDay)){
                            xValues.push(myDay)
                            yValues.push(0)   
                            yValues[xValues.indexOf(myDay)] += 1    
                        }
                        else{
                            yValues[xValues.indexOf(myDay)] += 1 
                        }
                                        
                    }
                }
                new Chart("myChart", {
                type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                        pointRadius: 4,
                        pointBackgroundColor: "rgb(0,0,255)",
                        data: yValues
                    }]   
                },
                options: {
                    legend: {display: false},
                }
                });
            }
        
        </script>
        </body>
        </html>
      </div>
    </div>
    <div class="split right">
        <div class="centered">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <body>
        <Heading>CRIMES COMMITED BY AREA</Heading>
        <canvas id="myChart2" style="width:100%"></canvas>
        
        <script>
            const Http3 = new XMLHttpRequest();
            const url3='/getAreaCrimes';
            Http3.open("GET", url3);
            Http3.send();
            Http3.onreadystatechange = (e) => {
                var testing = JSON.parse(Http3.responseText);

                var xValues = [];
                var yValues = [];

                for (i in testing.policeDb){
                    var area = testing.policeDb[i].area;
                    if(!xValues.includes(area)){
                        xValues.push(area)
                        yValues.push(0)   
                        yValues[xValues.indexOf(area)] += 1    
                    }
                    else{
                        yValues[xValues.indexOf(area)] += 1 
                    }
                }
                var barColors = ["blue", "red", "green","orange","brown"];
                new Chart("myChart2", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                }
                });

            }  
        </script>
        </body>
        </html>
      </div>
    </div>
</div>
</div>
</html>